# Environment
.env
.env.local
.env.*.local

# Flutter
.build/
.dart_tool/
.packages
pubspec.lock

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# PHP
vendor/

# Cache
/cache/
/tmp/